body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    margin-top: 2%;
    background-color: rgb(249,237,37);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0,0,0);
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: rgb(73,196,215);
}


.sidenav .sub{
  font-size: 14px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1{
  position: absolute;
  font-size: 100px;
  color: rgb(73,196,215);
  opacity: 0.5;
}

#title1{
  position: fixed;
  margin-top: -2.3%;
  margin-left: 35%;
}

#title2{
  position: fixed;
  margin-top: 4%;
  margin-left: 35%;
}

/*#primeiro{
      margin-top: 10vw;
}*/

#next{
  position: fixed;
  bottom: 2%;
  margin-left: 90%;
  width:90px;
  height: auto;
}

p{
  	text-align:justify;
  	font-family: Helvetica, serif;
  	margin-right: 33vw;
  	margin-left: 27vw;
  	font-size: 1vw;
}

#ling{
  position: fixed;
  transform: translate(-100%);
  left: 96%;
  text-align: right;
  margin-top: 1%;
  color: rgb(82,44,128);
  text-decoration: none;
}

a{
   color: rgb(82,44,128);
   text-decoration: none;
 }

 a:hover {
    text-decoration: none;
    color: rgb(231, 43, 95);
 }

 #eng{
   color: rgb(82,44,128);
   text-decoration: none;
 }

  #port{
    color: rgb(82,44,128);
    text-decoration: none;
  }

  #texto{
    position: absolute;
    margin-top: 8%;
  }

  @media screen and (max-width: 768px){
      h1{
        position: absolute;
        font-size: 8vw;
        color: rgb(73,196,215);
        opacity: 0.5;
      }

      #title1{
        position: fixed;
        margin-top: -5%;
        margin-left: 30%;
      }

      #title2{
        position: fixed;
        margin-top: 3%;
        margin-left: 30%;
      }
      #title3{
        position: fixed;
        margin-top: 11%;
        margin-left: 30%;
      }

      #next{
        position: fixed;
        bottom: 3%;
        margin-left: 80%;
        width:60px;
        height: auto;
      }

      #ling{
        position: fixed;
        transform: translate(-90%);
        left: 96%;
        text-align: right;
        margin-top: 1%;
        color: rgb(82,44,128);
        text-decoration: none;
        font-size: 1vw;
      }

  }

  @media screen and (max-width: 800px){
    h1{
      position: absolute;
      font-size: 10vw;
      color: rgb(73,196,215);
      opacity: 0.5;
    }

    #title1{
      position: fixed;
      margin-top: -5%;
      margin-left: 30%;
    }

    #title2{
      position: fixed;
      margin-top: 3%;
      margin-left: 30%;
    }
    #title3{
      position: fixed;
      margin-top: 11%;
      margin-left: 30%;
    }

    #next{
      position: fixed;
      bottom: 3%;
      margin-left: 80%;
      width:70px;
      height: auto;
    }

    #ling{
      position: fixed;
      transform: translate(-100%);
      left: 96%;
      text-align: right;
      margin-top: 1%;
      color: rgb(82,44,128);
      text-decoration: none;
      font-size: 2vw;
    }

  }

  @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait){
    p{
      	text-align:left;
      	font-family: Helvetica, serif;
      	margin-right: 17vw;
      	margin-left: 17vw;
      	font-size: 4vw;
    }
    menu{
      font-size: 50px;
    }

    h1{
      position: absolute;
      font-size: 200px;
      color: rgb(231, 43, 95);
      opacity: 0.5;
    }

    #title1{
      position: fixed;
      margin-top: -3%;
      margin-left: 20%;
    }

    #title2{
      position: fixed;
      margin-top: 7%;
      margin-left: 20%;
    }
  }
